/*Start with a nice, plain Jane page*/
* {
  padding: 0;
  margin: 0;
}

.grid-container > div {
  display: flex;
  border: 1px solid;
  padding: 0;  /*for troubleshooting - remove me?*/
}

.cell {
  width: 60px;
  height: 60px;
  box-shadow: 1px -1px lightslategray; /*for troubleshooting - remove me?*/
}
