* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.header {
  display: flex;
}

.header-left, .header-right {
  flex: 1;
}

.header-middle {
  flex: 2;
  display: flex;
  justify-content: center;
}

.size-button {
  margin-top: 10px;
}

/* .header-right {
  padding: 10px;
} */